*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color:black;
  color:seashell;
  font-family: Helvetica;
  font-size:22px;
  opacity:0.9;
  text-align:center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px seashell;
  height: 69px;

}
.logo{
  display: flex;
  height: 50px;
  margin-left: 20px;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  text-decoration: underline;
  padding: 2px;
  margin: 10px;
}
nav ul li a{
  color:seashell;
}
.mission{
  height: 700px;
  margin-left: 50px;
  margin-right:50px;
  background-color: grey;
  background-image: url("img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titles{
  background-color: black;
  line-height: 50px;
  font-size: 1.25em;
  padding-top: 10px;
}
.article-title{
  max-height: 10%;
  display: flex;
  justify-content: center;
  margin: 50px;
}
.titles2{
  line-height: 50px;
  font-size: 1.25em;
  padding-top: 10px;
  margin-bottom: 0;
}
.teas{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  margin: auto;
  height: auto;
  max-width: 1000px;
  margin-bottom: 60px;
  gap: 30px;
}
.tea-img{
 width: auto;
 margin-bottom: 20px;

}
.teas img{
max-width: 300px;
max-height: 200px;
object-fit: cover;
margin-bottom: 10px;
}
.locations{
  background-image: url("img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 500px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.location-title{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0px;
}
.cards{
display: flex;
justify-content: center;
}

.location-card{
  background-color: black;
  margin: 40px;
  opacity: 1;
  line-height: 2.5em;
  font-size: 1em;
  flex-basis: 300px;
  color: seashell;
  font-weight: bold;
}
.contact{
  height: 200px;
  line-height: 55px;
  margin-bottom: 10px;
}
.contact p{
  font-size: 0.8em;
}
#copyright{
  margin-left: 20px;
  text-align:left;
  font-weight: bold;
  margin-bottom: 40px;
}